<div class="page-title">
  <h1>Streams:</h1>
</div>
<div class="display-stream" *ngIf="isNotEmpty; else elseBlock">
  <mat-card *ngFor="let stream of streams">
    <a routerLink="/stream/{{stream.channel.name}}">
      <mat-card-header>
        <mat-card-title>{{stream.channel.display_name}}</mat-card-title>
        <mat-card-subtitle>Зрителей:{{stream.viewers}}</mat-card-subtitle>
      </mat-card-header>
      <img src="{{stream.preview.large}}">
    </a>
  </mat-card>
</div>
<div>
  <ng-template #elseBlock>
    <div class="display-error">
      <h2>Error 404</h2>
      <h3>Nothing found</h3>
    </div>
  </ng-template>
</div>
