* {
  /*	padding: 0;
      margin: 0;*/
}

.display-games, .display-stream {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1{
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

mat-card {
  text-align: center;
  margin: 5px;
  padding: 10px;
  width: 22%;
}

mat-card-header {
  justify-content: center;
}

.mat-card-header-text {
  text-align: center;
}

mat-card img {
  width: 100%;
}

mat-card-title {
  font-size: 16px !important;
}

.page-title{
  margin: 10px 0;
}

.display-error {
  text-align: center;
}
