<div>
  <div>
    <span class="stream-info">This is {{ stream.channel.display_name}} stream!</span>
    <span class="stream-info">Now playing in {{stream.game}}</span>
  </div>
  <app-loading-spinner *ngIf="!stream"></app-loading-spinner>
  <div class="player">
    <iframe #iframe
            [src]="streamUrl | safe"
            height="600"
            width="80%"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true">
    </iframe>
    <iframe
      frameborder="0"
      scrolling="no"
      id="chat_embed"
      [src]="chatUrl |safe"
      height="600"
      width="20%">
    </iframe>
  </div>
  <div>
    <span class="stream-info">{{stream.channel.status}} </span>
    <span class="stream-info">Viewers: {{stream.viewers}}</span>
  </div>
</div>



