<app-loading-spinner *ngIf="isLoading; else display"></app-loading-spinner>
<ng-template #display>
  <div class="block-info">
    <div class="stream-info">
      <img [src]="stream.channel.logo" width="40" height="40" class="channel-logo">
      <span >This is <span class="bold">{{ stream.channel.display_name}}</span> stream!</span>
    </div>
    <span class="stream-info">Now playing in <span class="bold">{{stream.game}}</span></span>
    <button *ngIf="isFollow; else followButton"  mat-raised-button color="primary" (click)="unfollow()" class="stream-info follow-button">Unfollow</button>
    <ng-template #followButton>
      <button mat-raised-button color="primary" (click)="follow()" class="stream-info follow-button">Follow</button>
    </ng-template>
  </div>
  <div class="player">
    <iframe [src]="streamUrl | safe"
            height="600"
            width="80%"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true">
    </iframe>
    <iframe frameborder="0"
            scrolling="no"
            id="chat_embed"
            [src]="chatUrl |safe"
            height="600"
            width="20%">
    </iframe>
  </div>
  <div class="block-info">
    <span class="stream-info"><span class="bold">Description:</span> {{stream.channel.status}}</span>
    <span class="stream-info"><span class="bold">Viewers:</span> {{stream.viewers}}</span>
  </div>
</ng-template>



