<div class="sidenav-menu">
  <ul class="menu-list">
    <li>
      <ng-content></ng-content>
    </li>
    <li><a routerLink="/games">Games</a></li>
    <li>
      <mat-accordion>
        <mat-expansion-panel class="spoiler">
          <mat-expansion-panel-header >
            <mat-panel-title class="spoiler-header">
              Follow games
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let stream of followStreams; trackBy: stream?.channel.name">
            <li >
              <a routerLink="/stream/{{stream.channel.name}}">
                <img [src]="stream.channel.logo" width="30" height="30">
                <span>  {{stream.channel.name}}  </span>
                <span>{{stream.channel.game}}</span>
              </a>
            </li>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </li>
  </ul>
</div>
