<div class="page-title">
  <h1>Streams:</h1>
</div>
<app-loading-spinner *ngIf="!isLoaded; else displayStream"></app-loading-spinner>
<ng-template #displayStream>
  <div class="display-stream" *ngIf="isNotEmpty; else elseBlock">
    <mat-card class="stream-card" *ngFor="let stream of streams">
      <a [routerLink]="getUrl(stream.channel.name)">
        <mat-card-header class="stream-card-header">
          <mat-card-title class="stream-card-title">{{stream.channel.display_name}}</mat-card-title>
          <mat-card-subtitle>Зрителей:{{stream.viewers}}</mat-card-subtitle>
        </mat-card-header>
        <img [src]="stream.preview.large">
      </a>
    </mat-card>
  </div>
  <div>
    <ng-template #elseBlock>
      <div class="display-error">
        <h2>Error 404</h2>
        <h3>Nothing found</h3>
      </div>
    </ng-template>
  </div>
</ng-template>
