.display-games, .display-stream {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.display-stream a {
  text-decoration: none;
  color: black;
}

.display-stream a:hover {
  color: blue;
}

.page-title {
  margin: 10px 0;
  text-align: center;
}

.display-error {
  text-align: center;
}
