.twitch-connect:hover {
	cursor: pointer;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
}
mat-toolbar button {
  margin: 0 10px;
}

mat-toolbar img {
  width: 100%;
}

.footer {
  justify-content: center;
  font-size: 16px;
}

mat-form-field {
  padding-top: 15px;
  width: 30%;
}

.search-button {
  margin: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .2375em 0;
}
