.twitch-connect:hover {
  cursor: pointer;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.header a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.header a:hover {
  text-decoration: underline;
}

.header img {
  width: 100%;
}

.search-field {
  padding-top: 15px;
  width: 30%;
}

.search-button {
  margin: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .2375em 0;
}
